/**
 * Stylesheet used for the layout of most elements.
 *
 * @author Yorick Peterse
 * @link   http://yorickpeterse.com/
 */
#container
{
	border-radius: 10px;
	margin:  40px auto;
	width:   940px;
	box-shadow: 0 0 5px 5px #969797;
	border: 5px solid #f5f5f5;
}

#content
{
	background:    #fff;
	width:         940px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

#leftcontent
{
    background:    #ededed;
    padding:       10px;
    border: 1px solid #ababab;
    border-radius: 5px;
}

#regbutton
{
  margin-left:507px;
  display: block;
  width: 433px;
  height: 158px;
  background: url(../images/seaport.png) no-repeat 0 0;
}

#regbutton:hover
{ 
  background-position: 0 -158px;
}

#sidebar
{
	margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
	border: 1px solid #ababab;
	border-radius: 5px;
	background-color: #ededed;
	background-image: url(../images/sidebar-top.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#sidebar2
{
    margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid #47719c;
    border-radius: 5px;
    background-color: #ededed;
}

/* Top part of the website, contains the title and the navigation menu */

#top
{
	background-image: url(../images/nav.png);
	background-repeat: repeat-x;
	height:        27px;
	padding:       0px 10px;
	background-position: center bottom;
}

#top ul li a
{
    color:           #fff;
    height:          27px;
    padding:         3px 10px 10px 10px;
    text-decoration: none;
}
 #top ul li a:hover
            {
                background-image: url(../images/nav-h.png);
                background-repeat: repeat-x;
            }

    #top ul
    {
    float:        left;
    margin-right: 15px;
    margin-left: 160px;
    }

        #top ul li
        {
    float:           left;
    font-size:       14px;
    font-weight:     bold;
    margin-right:    10px;
    list-style-type: none;
    line-height: 22px;

        }

    #top header h1
    {
        color:       #fff;
        font-size:   38px;
        margin:      10px 0px 0px 0px;
        padding:     0px;
    }

    #top nav ul
    {
	float:        left;
	margin-right: 15px;
    margin-left: 160px;
    list-style-type: none;
    line-height: 23px;
    }

        #top nav ul li
        {
	float:           left;
	font-size:       14px;
	font-weight:     bold;
	margin-right:    10px;

        }

        #top nav ul li:last-child
        {
            margin-right: 0px;
        }

            #top nav ul li a
            {
                color:           #fff;
                display:         block;
                height:          27px;
                padding:         2px 10px 0px 10px;
                text-decoration: none;
            }

            #top nav ul li a:hover
            {
                background-image: url(../images/nav-h.png);
                background-repeat: repeat-x;
            }

/* Footer at the bottom of the page */
#footer
{
    color: #FFFFFF;
	background: #666666;
	width: 940px;
	text-align: center;
	clear: both;
	float: none;
}

#quotes
{
    background: #FFFFFF;
    width: 260px;
    padding-left:8px;
    padding-top:5px;
    padding-bottom:5px;
    border: 2px solid #666666;
    border-radius: 5px;
}
